@import 'reset';
@import 'grid';
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900|Oswald:300,400,700');

$primary-font: 'Oswald', sans-serif;
$secondary-font: 'Lato', sans-serif;

body {
    font-family: $primary-font;
    font-size: 2em;
    line-height: 1.4;
    color: white;     
}

.main-section {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .description{
        font-family: $secondary-font;
        font-size: .75em;
        font-weight: 600;
    }
    h1 {
        font-size: 2em;
        margin-bottom: .1em;
        font-weight: 800;
    }
}

.hero {
    position: relative;
    h1 {
        font-weight: 800;
        overflow: hidden;
        opacity: 0.2;
        font-size: 9.76em;
        z-index: 5;
        position: absolute;
    }
    p {
        font-weight: 800;
        font-size: 2.55em;
        margin: 0;
        z-index: 10;
        text-align: center;
        vertical-align: middle;
        position: absolute;
        text-shadow: 2px 2px 19px rgba(255, 255, 255, .4);
    }
    .year-big {
        margin-bottom: 0;
    }
}

.grad1 {
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#4776E6, #8E54E9); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#4776E6, #8E54E9); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#4776E6, #8E54E9); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#4776E6, #8E54E9); /* Standard syntax */
}
.grad2 {
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#DA22FF, #9733EE); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#DA22FF, #9733EE); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#DA22FF, #9733EE); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#DA22FF, #9733EE); /* Standard syntax */
}
.grad3 {
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#02AAB0, #00CDAC); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#02AAB0, #00CDAC); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#02AAB0, #00CDAC); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#02AAB0, #00CDAC); /* Standard syntax */
}

.content-center {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
}

.description-main {
    font-family: $secondary-font;
    font-size: .8em;
    float: right;
}
.sub-hero-img  {
    width: 40%;
    z-index: 23;
    color: #fff;
    position: absolute;
}

.subsection {
    margin-bottom: 1em;
    h1 {
        font-size: 1.2em;
    }
    p {
        font-family: $secondary-font;
        font-size: .8em;
    }
}

.hero2 {
    position: relative;
    h1 {
        font-weight: 800;
        overflow: hidden;
        opacity: 1;
        font-size: 4em;
        z-index: 5;
        position: absolute;
        text-shadow: 2px 2px 19px rgba(255, 255, 255, .4);
    }
    p {
        font-family: $secondary-font;
        font-weight: 800;
        font-size: 2em;
        margin: 0;
        z-index: 10;
        position: absolute;
        top: 65%;
        font-style: italic;
    }
    .year-big {
        margin-bottom: 0;
    }
}

#particles {
}